{% extends 'base.html' %}
{%  block content %}
    <h1>
        {{ user.get_full_name }} (@{{ user.username }})
    </h1>

    {%  with profile=user.profile %}
        {% if user.profiles %}

            <h2>
                {{ user.profile.name|default:"" }}
            </h2>

            <br/>
            <div>
                Qualifications:
                {% for qualifacation in user.profile.qualification.all %}

                    <span>
                        {{ qualifacation.name }}{% if not forloop.last %}, {% endif %}
                    </span>

                {% endfor %}
            </div>

        {% endif %}

    {% endwith %}
{% endblock %}
