{% extends 'base.html' %}
{%  block content %}
    <img src="http://tinygraphs.com/labs/isogrids/hexa/{{ user.username }}?theme=seascape&numcolors=46size">
    <h1>
        {{ user.get_full_name }} (@{{ user.username }})
    </h1>

    {%  with profile=user.profile %}
        {% if profile %}

            <h2>
                {{ profile.name|default:"" }}
            </h2>

            <br/>
            <div>
                Qualifications:
                {% for qualifacation in profile.qualification.all %}

                    <span>
                        {{ qualifacation.name }}{% if not forloop.last %}, {% endif %}
                    </span>

                {% endfor %}
            </div>
            <div>
                <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{%  url 'edit_profile' %}">Edit Profile</a></li>
            </div>
        {% endif %}

    {% endwith %}
{% endblock %}